body {
    font-family: "Inter";
    font-style: normal;
    color: #ffffff;
    background-color: #202023;
}

a{
    text-decoration: none;
    color: currentColor;
}

header {
    padding-top: 55px;
    padding-left: 146px;
    background-image: url(../img/background-image.png);
    background-size: cover;
    background-position: center;

    nav {

        ul {
            display: flex;
            list-style: none;
            gap: 15px;
        }

        li {
            @include text-style(200, 24px, 29px);
        }
    }

    h1 {

        @include text-style(200, 70px, 85px);
        width: 561px;
        padding-top: 71px;

        &+p {
            @include text-style(300, 21px, 25px);
            width: 570px;
            margin: 22px 0 49px;
        }
    }

    .btn {
        @include text-style(200, 24px, 29px);
        color: #ffffff;
        background-color: #b47b48;
        padding: 16px 34px 16px 34px;
        border-radius: 17px;
        border: none;
        margin-bottom: 125px;
    }

    .cards, .cards * {
        box-sizing: border-box;
    }

    .cards{
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding-bottom: 36px;

        .card{
            display: flex;

            background-image: linear-gradient(to right, #19191a, #1c1c1d, #202020, #232324, #272727);

            &:hover{
                background: linear-gradient(90deg, rgba(149, 110, 52, 1) 0%, rgba(228, 168, 79, 1) 50%, rgba(235, 173, 81, 1) 100%);
                
            }

            .card-text{
            
                p{
                    @include text-style(200, 24px, 29px);
                    margin-top: 50px;
                }

                h5{
                    @include text-style(500, 16px, 19px);
                    margin-top: 13px;
                }

                button{
                    padding: 10px 22px 5px 22px;
                    margin-top: 35px;
                    color: #ffffff;
                    background-color: #C85312;
                    border: none;
                    @include text-style(900, 16px, 19px);
                }
            }
        }
    }

    
}